NODE_ENV=development
PORT=4001
MONGODB_URI=mongodb://127.0.0.1:27017/illajwala
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=dev-secret-change-me-please
CLIENT_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002

